.header {
  position: relative;
  padding: 40px 40px;
  box-sizing: border-box;
  background: lightblue;

  .input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    input {
      height: 1.75em;
    }
  }
}